numpy>=1.23
pandas>=1.5
matplotlib>=3.6
seaborn>=0.12

scikit-learn>=1.2
statsmodels>=0.13

torch>=2.0
gymnasium>=0.28
stable-baselines3>=2.1
sb3-contrib>=2.1

streamlit>=1.30
streamlit-autorefresh>=1.0


joblib>=1.2

google-cloud-aiplatform
google-cloud-logging
